/**, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}*/



table.c_chord_info, table.c_chord_info *,
table.c_guitar_diagram, table.c_guitar_diagram *,
table.c_piano_diagram, table.c_piano_diagram *,
table.c_guitar_fretboard, table.c_guitar_fretboard *{
    font-size:14px;
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align:baseline;
    font-family: Arial;
}

.c_chord_info .c {
    font-weight:bold;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/*
 *  Guitar/Strings ==========================================
 */


table.c_guitar_diagram,  table.c_guitar_fretboard{
/*     border: 1px solid black; */
    table-layout:fixed;
    border-spacing: 0px;
}

.c_guitar_diagram td {
    border:0px;
    padding: 0;
    outline: none;
    margin: 0; 
    width: 18px;
    max-width: 18px;
    height: 28px;
    overflow: visible;
}

.c_guitar_diagram .c_openclose {
    height: 12px;
    font-size: 14px;
}

.c_guitar_diagram .c_openclose span{
    padding-left: 16px;
    margin-top: -10px;
    position:absolute;
}

.c_guitar_diagram .c_openclose span.root{
    color: darkred;
    font-weight:bold;
}

.c_guitar_diagram .c_fretstart {
    border-bottom: 3px solid black;
}


.c_guitar_diagram .c_fret_cell {
    border-right: 1px solid black;
    border-bottom: 1px solid #666;
    height: 1.4em;
}

.c_guitar_diagram .c_fret_cell_1st {
    border-right: 1px solid black;
    border-left: 1px solid black;
    height: 1.4em;
}

.c_guitar_diagram .c_fret_cell_bottom {
    border-bottom: 1px solid black;
}

.c_guitar_diagram .c_fret_cell_top {
    border-top: 1px solid black;
}

table.c_guitar_diagram .guitardot {
    border-radius:50%;
    background-color: darkblue;
    width: 15px;
    height: 15px;
    margin-left: -8px;
    margin-top: 6px;
    position:absolute;
    
    color: white;
    font-size:10px;
    font-weight:bold;
    vertical-align: bottom;
    text-align: center;
    line-height: 15px;
}

table.c_guitar_diagram .guitardot.root{
    background-color: darkred;
}

td.c_chord_title {
    font-weight: bold;
    text-align: center;
    width: 5.5em;
}


/* Fretboard.... */
.c_guitar_fretboard td {
    border:0px;
    padding: 0;
    outline: none;
    margin: 0; 
    width: 50px;
    max-width: 50px;
    height: 25px;
    overflow: visible;
}

.g_fret {
    background-image: url("../images/frets/fret.png")
}

.g_fret_s {
    background-image: url("../images/frets/fret_s.png")
}

.g_fret_s.s1 {background-image: url("../images/frets/fret_s1.png")}
.g_fret_s.s2 {background-image: url("../images/frets/fret_s2.png")}
.g_fret_s.s3 {background-image: url("../images/frets/fret_s3.png")}
.g_fret_s.s4 {background-image: url("../images/frets/fret_s4.png")}
.g_fret_s.s5 {background-image: url("../images/frets/fret_s5.png")}
.g_fret_s.s6 {background-image: url("../images/frets/fret_s6.png")}

/*
 *  PIANO ==========================================
 */
table.c_piano_diagram {
    table-layout:fixed;
    border-spacing: 0px;
}

.c_piano_diagram .c_piano_cell {
    width: 8px;
    max-width: 10px;
    height: 20px;
    overflow: visible;
    text-align:center;
    border-bottom: 1px solid black;
}

.c_piano_diagram .c_piano_cell_top {
    height: 30px;
    border-top: 1px solid black;
}


.c_piano_diagram .c_piano_cell_sharp {
    background-color:black;
}

.c_piano_diagram .c_piano_cell_border {
    border-right: 1px solid black;
}

.c_piano_diagram .c_piano_cell_first {
     border-left: 1px solid black; 
}

div.vertical-line{
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  height: 100%; /* Override in-line if you want specific height. */
  margin-left: 4px;
}

table.c_piano_diagram .pianodot {
    border-radius:50%;
    background-color: darkblue;
    width: 8px;
    height: 8px;
    margin-top: 5px;
    position:absolute;
}

table.c_piano_diagram .pianodot_up {
    border-radius:50%;
    background-color: yellow;
    width: 8px;
    height: 8px;
    margin-top: 15px;
    position:absolute;
}

table.c_piano_diagram .pianodot.root {
    background-color: darkred;
}

table.c_piano_diagram .pianodot_up.root {
    background-color: red;
}

