# Requires mod_expires
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /regbetiko/lib/js/C/pages

    # Base Map Page
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-l

    # API!
    RewriteRule ^get/([a-zA-Z-_0-9]+)/([a-zA-G-0-9#]+)$  get.html?inst=$1&chord=$2 [R=301,QSA]
    RewriteRule ^info/([a-zA-G-0-9#]+)$  info.html?chord=$1 [R=301,QSA]

</IfModule>
